<div class="container__card">
    <div class="container__card_abono">
        <div class="divCardAbo_A">
                <p class="parrafo_aprobacion_ajustes_local">Puente Alto Falabella</p>
                <p class="parrafo_aprobacion_ajustes">Código Local: 001</p>
                <p class="parrafo_aprobacion_ajustes_monto">$30.000 <span class="span_aprobacion_ajustes">/ Abono</span> </p>
                <p class="parrafo_aprobacion_ajustes">Hoy | Responsable Juan castillo | Op. Juan Pérez  </p>
        </div>
        <div class="divCardAbo_B">
                <button class="bs-button-filtros-active">En evaluación<i-feather class="icon" name="clock"></i-feather></button>
                <button class="bs-button bs-button-primary botonVerCardAproAju" (click)="showModal()">Ver</button>
        </div>
    </div>
</div>


