<div class="container__card">
    <div>
        <p class="tituloCardMensaje">Mensajes</p>
    </div>

    <div class="container__card_abono">
        <div class="divCardAbo_A">
            <div class="">
                <p class="parrafoNombreMensaje">Juan Pérez</p>
                <p class="parrafoTextoMensaje">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et elementum... tellus, sit amet nunc.
                </p>
            </div>
        </div>
        <div class="divCardAbo_B">
            <div class="">
                <p class="">
                    <a><i-feather name="chevron-right"></i-feather></a>
                </p>
            </div>
        </div>
    </div>
    <div class="divLineaDivisora">
        <hr class="hr_abono">
    </div>
    

    <div class="container__card_abono">
        <div class="divCardAbo_A">
            <div class="">
                <p class="parrafoNombreMensaje">Juan Pérez</p>
                <p class="parrafoTextoMensaje">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et elementum... tellus, sit amet nunc.
                </p>
            </div>
        </div>
        <div class="divCardAbo_B">
            <div class="">
                <p class="">
                    <a><i-feather name="chevron-right"></i-feather></a>
                </p>
            </div>
        </div>
    </div>
    <div class="divLineaDivisora">
        <hr class="hr_abono">
    </div>

</div>
