<form class="bs-form-dialog dialog_mensaje__form">
    <div class="bs-container-input">
        <div class="bs_titulo_mensaje">
            <p class="bs_parrafo_titulo_mensaje">Mensajes</p>
        </div>
        <div class="bs_body_mensaje">
            <div>
                <p class="bs_parrafo_nombre_mensaje">Juan Pérez</p>
                <p class="bs_texto_nombre_mensaje">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et elementum... tellus, sit amet nunc.
                </p>
            </div>
        </div>
        <div>
            <button class="bs-button bs-button-secondary botonVolver" (click)="volver">Volver</button>
        </div>
    </div>
</form>

