<div class="container__card">
    <div class="container__card_abono">
        <div class="divCardAbo_A">
            <div class="divAbo">
                <p class="parrafo_abono_black">-$30.000</p>
                <p class="parrafo_abono">Cargo Semana 3 - <span>21/08/2022</span></p>
            </div>
        </div>
        <div class="divCardAbo_B">
            <div class="divAbo">
                <p class="parrafo_abono_red"><i-feather class="icon-mes-filtro" name="arrow-down-left"></i-feather></p>
            </div>
        </div>
    </div>
    <hr class="hr_abono">
</div>


<div class="container__card">
    <div class="container__card_abono">
        <div class="divCardAbo_A">
            <div class="divAbo">
                <p class="parrafo_abono_black">+$40.000</p>
                <p class="parrafo_abono">Abono Garantia - <span>18/08/2022</span></p>
            </div>
        </div>
        <div class="divCardAbo_B">
            <div class="divAbo">
                <p class="parrafo_abono_green"><i-feather class="icon-mes-filtro" name="arrow-up-right"></i-feather></p>
            </div>
        </div>
    </div>
    <hr class="hr_abono">
</div>
