.container__card {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    background: var(--bs-white);
    margin-top: 10px;
}

.container__card_abono {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

.divCardAbo_A{
    width: 85%;
}

.divCardAbo_B{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
}

.parrafo_aprobacion_ajustes{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
}

.parrafo_aprobacion_ajustes_local{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.parrafo_aprobacion_ajustes_monto{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.span_aprobacion_ajustes{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.bs-text-right{
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
}

.bs-button-filtros-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px 16px;
    line-height: 14px;
    gap: 0.5rem;
    height: 20px;
    font-family: var(--bs-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid var(--bs-tag-green);
    text-decoration: none;
    white-space: nowrap;
    cursor: default;
    background-color: #ffffff;
    color: var(--bs-tag-green);
    width: 135px;
    position: relative;
    right: 78px;
    bottom: 10px;
}

i-feather.icon {
    width: 14px;
}

.botonVerCardAproAju{
    width: 100px;
    position: relative;
    right: 42px;
}

