/* :host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
  } */

  .divNomLoc {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .filaRadioButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}