<div class="container bs-pantalla-error">
    <div class="">
        <p class="bs-parrafo-error-bold">¡Ups!</p>
        <p class="bs-parrafo-error">Parece que hubo un error</p>
        <div class="main__img">
            <img src="../../../assets/images/error-page.svg" alt="Icono error"/>
        </div>
        <p class="bs-parrafo-error">Intenta recargar la página o presiona el siguiente botón para volver al inicio</p>
        <div class="main__navigation">
            <a class="bs-button bs-button-primary" [routerLink]="['/inicio']">Volver</a>
        </div>
    </div>
</div>
